<div class="col-lg-6 col-lg-push-3">
  <div class="" style="background-color:white; padding:20px; border-radius: 5px;">    
   
    <h3 class="sign-in text-center" style="">SIGN IN</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class:'email' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class:'password' %><br />
        <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:'remember-me' %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class:'login btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>